recursive-include src/cryptoadvance/specterext/stacktrack/templates *
recursive-include src/cryptoadvance/specterext/stacktrack/static *
recursive-include src/cryptoadvance/specterext/stacktrack/*/LC_MESSAGES *.mo
recursive-include src/cryptoadvance/specterext/stacktrack/translations/*/LC_MESSAGES *.po
include requirements.txt