{#
    Replaces default wallet/overview/tx_table.jinja in Specter Desktop.
    See callback_adjust_view_model() in service.py.
#}

{% if chart %}
{% include "stacktrack/wallet/components/chart.jinja" %}
{% endif %}
{% include "wallet/overview/tx_table.jinja" %}
