{% macro stacktrack_span_menu_item(span, span_title, active_span, isLeft=false, isRight=false) -%}
    {# TODO Use url_for()? #}
    <a
        href="{{ url_path }}?span={{ span }}"
        class="btn radio {% if isLeft %}left{% endif %} {% if isRight %}right{% endif %} {% if active_span == span %}checked{% endif %}">
        {{ span_title }}
    </a>
{%- endmacro %}

{% macro stacktrack_span_menu(active_span) -%}
	<nav class="row collapse-on-mobile">
	    {{ stacktrack_span_menu_item('1d', '1D', active_span, isLeft=true) }}
	    {{ stacktrack_span_menu_item('1w', '1W', active_span) }}
	    {{ stacktrack_span_menu_item('1m', '1M', active_span) }}
	    {{ stacktrack_span_menu_item('1y', '1Y', active_span) }}
	    {{ stacktrack_span_menu_item('all', 'All', active_span, isRight=true) }}
	</nav>
{%- endmacro %}

{% set tab = "stacktrack_wallet_chart" %}

<style>
    .balance_chart {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }
    .balance_chart_container {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .balance_chart_container .btn.radio {
        max-width: 80px;
    }
</style>
<div class="balance_chart_container">
    {{ stacktrack_span_menu(active_span) }}
    <div class="balance_chart">
        {{ chart | safe }}
    </div>
</div>
