{% extends "stacktrack/components/stacktrack_tab.jinja" %}
{% block title %}Transactions{% endblock %}
{% set tab = 'transactions' %}
{% block content %}
    <style>
        h1 {
            margin-top: 1em;
        }
        .linked_wallet {
            margin-top: 3em;
        }
        .no_linked_wallet {
            background-color: var(--cmap-bg-lighter);
            border: 2px solid yellow;
            border-radius: 0.5em;
            padding: 2em 3em 2em 3em;
            margin-top: 3em;
        }
        .no_linked_wallet .headline {
            text-align: center;
            font-size: 1.1em;
            margin-bottom: 1em;
        }
        .balance_chart {
            margin-top: 3em;
        }
        .balance_chart nav.date_ranges {
            text-align: center;
            margin-bottom: 10px;
            color: #FFF;
        }
        .balance_chart nav.date_ranges a {
            margin: 0 2px;
            padding: 5px 8px 4px 7px;
            border: 1px solid #456;
            border-radius: 5px;
            background-color: #234;
            color: #FFF;
            text-decoration: none;
        }
        .table-holder {
            margin-top: 3em;
        }
        .footnote {
            margin-top: 2em;
            font-style: italic;
            font-size: 0.85em;
            color: #999;
        }
    </style>

    {% if wallet %}
        {#
        <div class="linked_wallet">Linked wallet:
            <a class="explorer-link" href="{{ url_for('wallets_endpoint.addresses', wallet_alias=wallet.alias) }}">{{ wallet.name }}</a><br/>
        </div>
        #}
        <div class="balance_chart">
            <nav class="date_ranges">
                <a href="#">1D</a>
                <a href="#">1W</a>
                <a href="#">1M</a>
                <a href="#">1Y</a>
                <a href="#">All</a>
            </nav>
            {{ plot | safe }}
        </div>
    {% else %}
        <div class="no_linked_wallet">
            <div class="headline">{{ _("Linked Wallet Not Configured") }}</div>
            <div class="note">
                {{ _("Go to Settings to set up which wallet should be linked to this extension.") }}
            </div>
        </div>
    {% endif %}

    {# TODO: List total withdrawal value? Or just current value of withdrawn UTXOs? #}

    <div class="table-holder">
        {% include "includes/services-data.html" %}
        {% include "includes/address-label.html" %}
        {% include "includes/tx-row.html" %}
        {% include "includes/tx-data.html" %}
        {% include "includes/explorer-link.html" %}
        {% include "includes/tx-table.html" %}
        <tx-table
            {% if specter.price_check and (specter.alt_rate and specter.alt_symbol) %}
                price="{{ specter.alt_rate }}"
                symbol="{{ specter.alt_symbol }}"
            {% endif %}
            btc-unit="{{ specter.unit }}"
            hide-sensitive-info="{{ specter.hide_sensitive_info | lower }}"
            service-id="stacktrack"
            type="txlist"
        />
    </div>
    <div id="tx-popup" class="hidden"></div>

    <div class="footnote">
        <sup>*</sup>{{ _("Only shows the withdrawals that this Specter instance is aware of.") }}
    </div>

{% endblock %}